*{
    margin: 0px;
    
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url('image/accYnov.png');
    background-size: cover;
}

#texte{
    width: 60vw;
    height: auto;
    margin-top: 15px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:black;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 17px 10px 5px black;
}

#link{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#pic{
    opacity: 0; 
    height:95vh;
    width:100vw;
}


