*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(../image/setp3.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.containre{
    margin-top: 5vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
#texte{
    width: 75vw;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 17px 10px 5px black;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:black;
    text-align: center;
}
.chose{
    width: 85vw;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.underTitle{
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 20px 40px 5px 0px;
    background-color: white;
    border-radius: 5px;
    opacity: 0.6;
}
.picture{
    box-shadow: 17px 10px 5px black;
    border-radius: 7.5%;
    width: 20vw;
    height: 50vh;
}

@media screen and (max-width:500px){
    .containre{
        margin-top: 5vh;
    }

    #texte{
        width: 85vw;
        height: auto;
    }

    .underTitle{
        width: 35vw;
        height: auto;
        margin: 0;
        text-align: center;
    }

    .chose{
        justify-content: space-between;
        margin-top: 5vh;
    }

    .picture{
        width: 35vw;
        height: 40vh;
    }
}