*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(../image/toilette.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.containre{
    margin: 5vh 5vw 0 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    
}
#texte{
    width: 65vw;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 17px 10px 5px black;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:black;
    text-align: center;
}
.chose{
    width: 65vw;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.underTitle{
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 20px 40px 5px 0px;
}
.picture{
    box-shadow: 17px 10px 5px black;
    border-radius: 7.5%;
    width: 20vw;
    height: 50vh;
}

#bubble{
    visibility: hidden;
    opacity: 0.95;
    border-radius: 0% 0% 5% 5%;
    background-color: black;
    font-family: Arial, sans-serif;
    font-size: 10px;
    color: aliceblue;
    font-weight: bold;
    height: 60px;
    width: 150px;
    margin-right: 1vw;
    padding: 5px;
}

.picture:hover{
    animation: chose 2s linear 0s infinite alternate;
}

@keyframes chose{
    0%{border: 0.5vw inset black;}
    25%{border: 1vw inset grey;}
    50%{border: 1vw inset aliceblue;}
    100%{border: 0.5vw inset aliceblue;}
}

@keyframes bubbleInfo{
    from {
        background-color: aliceblue;
        color: gray;
    }
    to {
        background-color: black;
        color: aliceblue;
    }
}

#texte:hover+#bubble{
    visibility: visible;
    animation-duration: 4s;
    animation-name: bubbleInfo;
}

@media screen and (max-width: 500px) {

    .containre{
        align-items: center;
    }
    #texte{
        width: 85vw;
        height: auto;
    }

    .underTitle{
        width: 35vw;
        height: auto;
        margin: 0;
        text-align: center;
    }

    .chose{
        width: 85vw;
        justify-content: space-between;
        margin-top: 5vh;
    }

    .picture{
        width: 35vw;
        height: 40vh;
    }
}