body{
    margin: 0;
    background-color: #978f82;
}
.containre{
    height: 800px;
    width: 1540px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center; 
}
#texte{
    width: 1000px;
    height: auto;
    position: fixed;
    z-index: 2;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 17px 10px 5px black;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:black;
    text-align: center;
}
#chose{
    z-index: 1;
    width: 100%;
    height: 95%;
}