body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.containre{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; 
}

.texte{
    width: 80vw;
    min-width: 250px;
    height: auto;
    position: fixed;
    z-index: 2;
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:black;
    text-align: center;
}

.picture{
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.texte.texteD{
    padding: 14px 7px 14px 7px;
    background-color: #E5E1C1;
    border-radius: 9%;

}

.texte.texteT{
    padding: 14px 7px 14px 7px;
    background-color: #905D40;
    border-radius: 15%;

}